@page "/subcriberdashboard"
@rendermode InteractiveServer
@inject NavigationManager _Nav

	<button @onclick="GoToCreate">Create</button>

@code {
    private void GoToCreate()
    {
        _Nav.NavigateTo("/createAcc");
    }
}
