@page "/sub-myaccount"
@layout SubscriberLayout

<div class="dashboard-header">
    <div>
        <h2>Welcome Back,  👋</h2>
        <p class="sub-text">Manage your internet subscription and billing.</p>
    </div>

    <button class="logout-btn">
        Logout
    </button>
    </div>
<div class="mb-3">
	<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
</div>

<div class="mb-3">
	<label for="formGroupExampleInput2" class="form-label">Another label</label>
	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div>
<div class="mb-3">
	<label for="formGroupExampleInput2" class="form-label">Another label</label>
	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div>

<style>
    .dashboard-header
    {
        background: white
    }
</style>
@code {

    
}
