@page "/counter"
@rendermode InteractiveServer

<PageTitle>Create Account</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<div>
    <input type="button" name="name" value="@IncrementCount" />
</div>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
